@import 'https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,cyrillic-ext,latin-ext';

/* Main */

:root {
    --bg-blue: #3877E6;
    --bg-blue-light: #4A90E2;
    --bg-grey-light: #F6F6F6;
    --text-grey-dark: #333333;
    --text-grey-light: #DCDCDC;
    --text-white: #FFFFFF;    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;

    flex-direction: row;

    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

@media screen and (max-aspect-ratio: 13/9) {
    body {
        flex-direction: column;
    }
}


/* I/O */

.caption {
    position: relative;

    flex-grow: 1;
}

@media screen and (max-aspect-ratio: 13/9) {
    .caption {
        flex-basis: 50%;
    }
}

.caption.-input {
    color: var(--text-white);
}

.caption.-output {
    color: var(--text-grey-dark);
}

.caption::before {
    content: attr(data-text);

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 1.1em;
}

@media screen and (max-aspect-ratio: 13/9) {
    .caption::before {
        left: inherit;
        right: 20px;
        transform: none;
    }
}

.message {
    display: block;
    width: 100%;
    height: 100%;
    padding: 60px 20px 20px;

    font-family: 'Roboto', sans-serif;
    font-size: 1em;

    resize: none;
    outline: none;
    border: none;
}

.message.-input {
    color: var(--text-white);

    background-color: var(--bg-blue);
}

.message.-output {
    color: var(--text-grey-dark);

    background-color: var(--bg-grey-light);
}